@font-face {
        font-family: "calistoga-regular";
        src: url("./assets/fonts/calistoga-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "lato-700";
        src: url("./assets/fonts/lato-700.ttf") format("truetype");
      }
@font-face {
        font-family: "lato-regular";
        src: url("./assets/fonts/lato-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "abril-fatface-regular";
        src: url("./assets/fonts/abril-fatface-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "lato-900";
        src: url("./assets/fonts/lato-900.ttf") format("truetype");
      }
